.ant-menu {
  .ant-menu-submenu {
    .ant-menu-submenu-title {
      display: flex;
      align-items: center;

      .ant-menu-item-icon {
        min-width: 18px;
      }
    }
  }

  .ant-menu-item {
    display: flex;
    align-items: center;
  }
}
