@use "./reset.scss" as *;
@use "./transition.scss" as *;
@use "./antdv/index.scss" as *;
@use "./common/index.scss" as *;

// 自定义变量
:root {
  --primary-color: #2f54eb;
  --font-size: 14px;
  --font-size-small: calc(var(--font-size) - 2px);
  --font-size-smaller: calc(var(--font-size) - 4px);
  --font-size-large: calc(var(--font-size) + 2px);
  --font-size-larger: calc(var(--font-size) + 4px);
  --font-size-largest: calc(var(--font-size) + 6px);
  --border-radius: 6px;
  --content-width: 100%;
}

// 色弱模式
html.color-weak {
  filter: invert(80%);
}

// 灰色模式
html.gray-mode {
  filter: grayscale(100%);
}

html[data-theme="light"] {
  color: #313131;
}

html[data-theme="dark"] {
  color: #ffffff;
}

/* 整个滚动条 */
::-webkit-scrollbar {
  width: 8px; /* 纵向滚动条宽度 */
  height: 8px; /* 横向滚动条高度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 4px;
}

/* hover 时滑块颜色 */
::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}
