// 标准列表布局
.table-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .table-search {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    gap: 15px;

    .search-form {
      flex: 1 1 auto;
      width: 0;
      height: auto;

      .ant-select {
        width: 100% !important;
      }
    }
  }

  .table-toolbar {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
}
